<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rafif.pawly</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/pawly</string>
        <string>-port</string>
        <string>8080</string>
        <string>-data-dir</string>
        <string>/Users/Shared/pawly</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/Shared/pawly/pawly.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/Shared/pawly/pawly.err.log</string>
</dict>
</plist>
